@import "tailwindcss";

body {
  background-color: white;
  color: #09090b;
}

html.dark body {
  background-color: #09090b; /* example dark */
  color: white;
}

/* Default light mode */
.light {
  background-color: rgb(250, 251, 252);
  color: rgb(10, 10, 10);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 1px 3px; /* Optional light shadow */
}

.light li {
  color: rgb(10, 10, 10);
}

/* Dark mode */
.dark {
  background-color: #09090b; /* dark background */
  color: white;
  box-shadow: #25252566 0px 4px 6px, #0000001a 0px 1px 3px;
}
.dark .getting-started-spec li {
  color: rgb(198, 220, 233);
  padding-top: 0.5rem;
}



/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-track {
  background: rgb(36, 35, 35); 
}