@import "tailwindcss";
@import "tw-animate-css";



*{
  scroll-behavior: smooth;
}

body {
  background: #0D0C0F;
}

.logo-text {
  font-size: .7rem;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 5px;
}
.logo-text span{
  color: #70adfd;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-track {
  background: rgb(36, 35, 35); 
}


.pattern {
  background-image: url("/pattern.png");
  background-size: cover;

}

