@import "tailwindcss";


*{
  scroll-behavior: smooth;
}

body {
  background: #0D0C0F;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 8, 8); 
  border-radius: 4px; 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

::-webkit-scrollbar-track {
  background: rgb(36, 35, 35); 
}

@keyframes hero-btn {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -200% 0;
  }
}

.hero-btn {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1));
  background-size: 200% 100%;
  transition: all 0.3s ease-in-out;
}
.hero-btn:hover {
  animation: hero-btn 2s linear infinite;
}

.pattern {
  background-image: url("/pattern.png");
  background-size: cover;

}

